<article class="post">
  <div class="title">
    <h2>{{title}}</h2>
    <h3>Posted by {{user.username}} on {{format_date created_at}}</h3>
  </div>
  <div class="post_text">
    {{post_text}}
  </div>
</article>