    <article class="post">
      <div class="title">
        {{title}}
        {{format_date created_at}}
        </div>
        <div class="post_text">
        {{post_text}}
      </div>
    </article>