<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <a href="/posts/{{post.id}}">
      {{> post-info post }}
      </a>
  </li>
  {{/each}}
</ol>
     <button id="add_post"><a href="/add-post">NEW POST</a></button>
